.spacer-y {
  width: 100%;
  height: 70px;
  display: block;
}

b.required {
  color: rgb(211, 47, 47);
}

.grid-list {
  display: grid;
  gap: 30px 10px;
}

.grid-list fieldset {
  text-align: center;
}

.grid-list fieldset legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.grid-list fieldset button:not(:first-child) {
  margin-right: 5px;
}

.grid-list fieldset button:not(:last-child) {
  margin-left: 5px;
}

.grid-list fieldset legend img {
  width: 50px;
  border-radius: 100%;
}

fieldset {
  border: 1px solid lightgray;
  padding: 20px 20px;
  padding-top: 10px;
  border-radius: 10px;
}

legend {
  float: none;
  width: auto;
  padding: 0px 15px;
}

.toast-container {
  padding: 20px;
}

.toast-container .ngx-toastr {
  width: 75% !important;
  padding-left: 25px !important;
}

div[toast-component] {
  padding: 15px;
  background-image: none;
}

button.toast-close-button {
  top: 0em;
  right: 0em;
}

button.toast-close-button span {
  font-weight: 100;
  font-size: 1.75em;
  line-height: 0;
}

details[open] summary {
  margin-bottom: 10px;
}