<h3>Raças</h3>

@if (isLoading) {
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Carregando ...</span>
  </div>
}

@if (racas.length > 0 && !isLoading) {
  <div class="grid-list mt-4">
    @for (raca of racas; track $index) {
      <fieldset class="shadow">
        <legend>
          {{ raca.descricao }}
        </legend>

        <div class="btn-group" role="group">
          <button class="btn btn-primary shadow" [disabled]="usuarioLogado?.perfil === 'CLIENTE'" (click)="editarRaca(raca)">Editar</button>
          <button class="btn btn-danger shadow" [disabled]="usuarioLogado?.perfil === 'CLIENTE'" (click)="excluirRaca(raca)">Excluir</button>
        </div>
      </fieldset>
    }
  </div>

  <div class="pagination">
    <div class="btn-group" role="group">
      <button class="btn">Anterior</button>
      <button class="btn">Próximo</button>
    </div>
  </div>
}

<app-modal [(openModal)]="openModalAtualizarRaca">
  <app-cadastro-raca [raca]="racaSelecionadoEdicao" (racaAdicionada)="racaAdicionada($event)"></app-cadastro-raca>
</app-modal>