:host {
  display: block;
  height: calc(100vh - 4.5em);
}

.spacer {
  flex: 1 1 auto;
}

button.close {
  font-size: 1.7em;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border-radius: 100%;
}