<div class="header">
  <h3>Atendimentos</h3>
  <button class="btn" (click)="openModalCriarAtendimento = true">Criar Atendimento</button>
</div>

@if (isLoading) {
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Carregando ...</span>
  </div>
}

@if (atendimentos.length > 0 && !isLoading) {
  <div class="grid-list mt-4">
    @for (atendimento of atendimentos; track $index) {
      <fieldset class="shadow">
        <legend>
          #{{ atendimento.id }} - Atendimento
        </legend>

        <div class="info">
          <b>Descrição:</b> {{ atendimento.descricao }} <br>
          <b>Valor:</b> {{ atendimento.valor | currency: 'BRL' }} <br>
          <b>Data:</b> {{ atendimento.data | date: 'dd/MM/yyyy' }} <br>
        </div>

        <div class="btn-group mt-3" role="group">
          <button class="btn btn-primary shadow" [disabled]="usuarioLogado?.perfil === 'CLIENTE'" (click)="editarAtendimento(atendimento)">Alterar</button>
          <button class="btn btn-danger shadow" [disabled]="usuarioLogado?.perfil === 'CLIENTE'" (click)="excluirAtendimento(atendimento)">Excluir</button>
        </div>
      </fieldset>
    }
  </div>

  <div class="pagination">
    <div class="btn-group" role="group">
      <button class="btn">Anterior</button>
      <button class="btn">Próximo</button>
    </div>
  </div>
}

<app-modal [(openModal)]="openModalCriarAtendimento">
  <app-cadastro-atendimento [clientes]="clientes" [pets]="pets" [racas]="racas"
    (atendimentoAdicionado)="atendimentoAdicionado($event)"
    (buscarPetsCliente)="buscarAnimaisCliente($event)"></app-cadastro-atendimento>
</app-modal>

<app-modal [(openModal)]="openModalAtualizarAtendimento">
  <app-cadastro-atendimento [atendimento]="atendimentoSelecionadoEdicao" [clientes]="clientes" [pets]="pets" [racas]="racas" (atendimentoAdicionado)="atendimentoAdicionado($event)" (buscarPetsCliente)="buscarAnimaisCliente($event)"></app-cadastro-atendimento>
</app-modal>