:host {
    display: block;
    width: 100%;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);  /* Cria colunas de 100px, adaptando-se ao tamanho da tela */
    gap: 30px 10px;
}

fieldset legend {
    padding: 0px 10px;
}

fieldset legend {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button.page:nth-child(2) {
    margin-left: 15px;
}

button.page:nth-last-child(2) {
    margin-right: 15px;
}

button.page:not(:nth-child(2)) {
    margin-left: 5px;
}