<div>
  <img src="assets/img/montagem-dogs-cats.png" alt="animais">
</div>

<div>
  PET SHOP
  <br>
  <br>
  Rua Fernando Ribeiro, nº 1630<br>
  Vila Carneiro, Porto Alegre<br>
  RS, CEP: 55.653-560<br>
  Telefone: (51) 3643-2280<br>
  WhatsApp: (51) 99685-6843
</div>

<div>
  Nos siga nas redes sociais:

  <ul>
    <li>Facebook</li>
    <li>Instagram</li>
    <li>TikTok</li>
    <li>YouTube</li>
    <li>E-mail</li>
  </ul>
</div>

<div>
  <ul>
    <li>Galeria</li>
    <li>História</li>
    <li>Valores</li>
    <li>Veterinária</li>
    <li>Miss PET (do mês)</li>
  </ul>
</div>

<div>
  <ul>
    <li>Trabalhe Conosco</li>
    <li>Política de Privacidade</li>
    <li>Termos de Uso</li>
  </ul>
</div>