<form [formGroup]="cadastroForm" (submit)="enviarCadastro($event)">
  Nome: <br>
  <input type="text" formControlName="nome">

  @if (cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.hasError('required')) {
  <br>
  <sup>O nome não pode ficar em branco</sup>
  }

  <br><br>
  Senha: <br>
  <input type="password" formControlName="senha">

  @if (cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.hasError('required')) {
  <br>
  <sup>A senha não pode ficar em branco</sup>
  }

  <br><br>
  CPF: <br>
  <input type="text" formControlName="cpf" maxlength="14">

  <br><br>
  Foto: <br>
  <input type="file" (change)="onImagePicked($event)" accept="image/*" #fotoUsuario>

  <br><br>
  <button type="submit" [disabled]="btnDisabled">Cadastrar</button>
</form>