<fieldset>
  <legend>{{ this.cliente ? 'Atualizar' : 'Adicionar' }} Cliente</legend>

  <form class="row g-3" [formGroup]="clienteForm" (submit)="adicionarCliente($event)">
    <div class="col-12">
      <label for="validationName" class="form-label">
        Nome <b title="Obrigatório" class="required">*</b>
      </label>

      <input type="text" class="form-control"
        [class.is-invalid]="clienteForm.get('nome')?.touched && clienteForm.get('nome')?.hasError('required')"
        id="validationName" formControlName="nome"
      />

      @if (clienteForm.get('nome')?.touched && clienteForm.get('nome')?.hasError('required')) {
        <div class="invalid-feedback">
          O nome não pode ficar em branco
        </div>
      }
    </div>
    <div class="col-12">
      <label for="validationPassword" class="form-label">
        Senha
      </label>

      <input type="text" class="form-control" id="validationPassword" formControlName="password"/>
    </div>
    <div class="col-12">
      <label for="validationCpf" class="form-label">
        CPF
      </label>

      <input type="text" class="form-control" id="validationCpf" formControlName="cpf" maxlength="14" (blur)="atualizarSenha($event)" />
    </div>
    <div class="col-12">
      <label for="validationImage" class="form-label">
        Foto
      </label>

      <input type="file" class="form-control" id="validationImage" (change)="onImagePicked($event)" accept="image/*" #fotoCliente />
    </div>
    <div class="col-12 pt-3">
      <fieldset>
        <legend>Adicionar Contato</legend>

        <app-cadastro-contato (contatoAdicionado)="adicionarContato($event)"></app-cadastro-contato>

        <br>

        <fieldset>
          <legend>Contatos (Cliente)</legend>

          <table class="table">
            <thead>
              <tr>
                <th>Contato</th>
                <th>Tipo</th>
                <th>Tag</th>
                <th></th>
              </tr>
            </thead>
            <tbody formArrayName="contatos">
              @for (contato of contatos.controls; track contato.value.valor; let idx = $index) {
                <tr [formGroupName]="$index">
                  <td>
                    <input type="text" class="form-control"
                      [class.is-invalid]="contato.get('valor')?.touched && contato.get('valor')?.hasError('required')"
                      formControlName="valor"
                    />

                    @if (contato.get('valor')?.touched && contato.get('valor')?.hasError('required')) {
                      <div class="invalid-feedback">
                        O contato não pode ficar em branco
                      </div>
                    }
                  </td>
                  <td>
                    <select class="form-control" [class.is-invalid]="contato.get('tipo')?.touched && contato.get('tipo')?.hasError('required')" formControlName="tipo">
                      <option value="">--- Selecione ---</option>
                      <option value="telefone">Telefone</option>
                      <option value="e-mail">E-mail</option>
                    </select>

                    @if (contato.get('tipo')?.touched && contato.get('tipo')?.hasError('required')) {
                      <div class="invalid-feedback">
                        O tipo do contato não pode ficar em branco
                      </div>
                    }
                  </td>
                  <td>
                    <input class="form-control" type="text" formControlName="tag">
                  </td>
                  <td>
                    <input type="hidden" formControlName="id">
                    <button class="btn btn-danger" (click)="removerContato($event, idx)">Excluir</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </fieldset>
      </fieldset>
    </div>
    <div class="col-12 pt-3">
      <fieldset>
        <legend>Adicionar Endereço</legend>

        <app-cadastro-endereco (enderecoAdicionado)="adicionarEndereco($event)"></app-cadastro-endereco>

        <br>

        <fieldset>
          <legend>Endereços (Cliente)</legend>

          <table class="table">
            <thead>
              <tr>
                <th>Logradouro</th>
                <th>Cidade</th>
                <th>Bairro</th>
                <th>Complemento</th>
                <th>Tag</th>
                <th></th>
              </tr>
            </thead>
            <tbody formArrayName="enderecos">
              @for (endereco of enderecos.controls; track endereco.value.logradouro; let idx = $index) {
                <tr [formGroupName]="$index">
                  <td>
                    <input type="text" class="form-control"
                      [class.is-invalid]="endereco.get('logradouro')?.touched && endereco.get('logradouro')?.hasError('required')"
                      formControlName="logradouro"
                    />

                    @if (endereco.get('logradouro')?.touched && endereco.get('logradouro')?.hasError('required')) {
                      <div class="invalid-feedback">
                        O logradouro não pode ficar em branco
                      </div>
                    }
                  </td>
                  <td>
                    <input type="text" class="form-control"
                      [class.is-invalid]="endereco.get('cidade')?.touched && endereco.get('cidade')?.hasError('required')"
                      formControlName="cidade"
                    />

                    @if (endereco.get('cidade')?.touched && endereco.get('cidade')?.hasError('required')) {
                      <div class="invalid-feedback">
                        A cidade não pode ficar em branco
                      </div>
                    }
                  </td>
                  <td>
                    <input type="text" class="form-control"
                      [class.is-invalid]="endereco.get('bairro')?.touched && endereco.get('bairro')?.hasError('required')"
                      formControlName="bairro"
                    />

                    @if (endereco.get('bairro')?.touched && endereco.get('bairro')?.hasError('required')) {
                      <div class="invalid-feedback">
                        O bairro não pode ficar em branco
                      </div>
                    }
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="complemento">
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="tag">
                  </td>
                  <td>
                    <input type="hidden" formControlName="id">
                    <button class="btn btn-danger" (click)="removerEndereco($event, idx)">Excluir</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </fieldset>
      </fieldset>
    </div>
    <div class="col-12">
      <input type="hidden" formControlName="id">
      <button class="btn btn-primary" type="submit">
        {{ this.cliente ? 'Atualizar' : 'Adicionar' }} Cliente
      </button>
    </div>
  </form>
</fieldset>