<form>
    Logradouro: <b title="Obrigatório" class="required">*</b><br>
    <input type="text">

    <br><br>
    Cidade: <b title="Obrigatório" class="required">*</b><br>
    <input type="text">

    <br><br>
    Bairro: <b title="Obrigatório" class="required">*</b><br>
    <input type="text">

    <br><br>
    Complemento: <b title="Obrigatório" class="required">*</b><br>
    <input type="text">

    <br><br>
    Tag: <br>
    <input type="text">

    <br><br>
    <button>Adicionar Endereço</button>
</form>