<fieldset>
    <legend>Adicionar Raça</legend>
    <form [formGroup]="racaForm" (submit)="adicionarRaca($event)">
        Descrição: <b title="Obrigatório" class="required">*</b><br>
        <textarea formControlName="descricao"></textarea>

        @if (racaForm.get('descricao')?.touched && racaForm.get('descricao')?.hasError('required')) {
            <br>
            <sup>A raça do pet não pode ficar em branco</sup>
        }

        <br><br>

        <input type="hidden" formControlName="id">

        <button type="submit">Adicionar Raça</button>
    </form>
</fieldset>