<fieldset>
  <legend>{{ this.pet ? 'Atualizar' : 'Adicionar' }} Pet</legend>

  <form class="row g-3" [formGroup]="petForm" (submit)="adicionarPet($event)">
    <div class="col-12">
      <label for="validationPetName" class="form-label">
        Nome <b title="Obrigatório" class="required">*</b>
      </label>

      <input type="text" class="form-control"
        [class.is-invalid]="petForm.get('nome')?.touched && petForm.get('nome')?.hasError('required')"
        id="validationPetName" formControlName="nome"
      />

      @if (petForm.get('nome')?.touched && petForm.get('nome')?.hasError('required')) {
        <div class="invalid-feedback">
          O nome do pet não pode ficar em branco
        </div>
      }
    </div>

    <div class="col-12">
      <label for="validationBirthDate" class="form-label">
        Data de Nascimento <b title="Obrigatório" class="required">*</b>
      </label>

      <input type="date" class="form-control"
        [class.is-invalid]="petForm.get('dataNascimento')?.touched && petForm.get('dataNascimento')?.hasError('required')"
        id="validationBirthDate" formControlName="dataNascimento"
      />

      @if (petForm.get('dataNascimento')?.touched && petForm.get('dataNascimento')?.hasError('required')) {
        <div class="invalid-feedback">
          A data de nascimento do pet não pode ficar em branco
        </div>
      }
    </div>

    <div class="col-12">
      <label for="validationBreed" class="form-label">
        Raça <b title="Obrigatório" class="required">*</b>
      </label>

      <select class="form-control mb-3" id="validationBreed" multiple #selectRacas>
        @for (raca of racas; track $index) {
          <option [value]="raca.id" [innerHTML]="raca.descricao"></option>
        }
      </select>

      <button class="btn btn-danger" (click)="removerRacasSelecionadas($event)">
        Excluir Selecionados
      </button>

      @if (petForm.get('nome')?.touched && getRacasSelecionadas().length == 0) {
        <div class="invalid-feedback">
          A raça do pet não pode ficar em branco
        </div>
      }
    </div>

    <div class="col-12">
      <app-cadastro-raca (racaAdicionada)="adicionarRacaPet($event)"></app-cadastro-raca>
    </div>

    <div class="col-12">
      <label for="validationImage" class="form-label">
        Foto:
      </label>

      <input type="file" class="form-control"
        id="validationImage" (change)="onImagePicked($event)" accept="image/*" #fotoPet
      />
    </div>
    
    <div class="col-12">
      <input type="hidden" formControlName="id">
      <button class="btn btn-primary" type="submit">
        {{ this.pet ? 'Atualizar' : 'Adicionar' }} Pet
      </button>
    </div>
  </form>
</fieldset>