<fieldset>
    <legend>Adicionar Cliente</legend>
    <form [formGroup]="clienteForm" (submit)="adicionarCliente($event)">
        Nome: <b title="Obrigatório" class="required">*</b><br>
        <input type="text" formControlName="nome">

        @if (clienteForm.get('nome')?.touched && clienteForm.get('nome')?.hasError('required')) {
            <br>
            <sup>O nome não pode ficar em branco</sup>
        }
        
        <br><br>
        Senha: <b title="Obrigatório" class="required">*</b><br>
        <input type="text" formControlName="senha">

        <br><br>
        CPF: <br>
        <input type="text" formControlName="cpf" maxlength="14" (blur)="atualizarSenha($event)">

        @if (clienteForm.get('cpf')?.touched && clienteForm.get('cpf')?.hasError('required')) {
            <br>
            <sup>O CPF não pode ficar em branco</sup>
        }

        <br><br>
        Foto: <br>
        <input type="file" (change)="onImagePicked($event)" accept="image/*" #fotoCliente>

        <br><br>

        <fieldset>
            <legend>Adicionar Contato</legend>

            <app-cadastro-contato (contatoAdicionado)="adicionarContato($event)"></app-cadastro-contato>

            <br>

            <fieldset>
                <legend>Contatos (Cliente)</legend>

                <table>
                    <thead>
                        <tr>
                            <th>Contato</th>
                            <th>Tipo</th>
                            <th>Tag</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="contatos">
                        @for (contato of contatos.controls; track contato.value.valor; let idx = $index) {
                            <tr [formGroupName]="$index">
                                <td>
                                    <input type="text" formControlName="valor">
                                    @if (contato.get('valor')?.touched && contato.get('valor')?.hasError('required')) {
                                        <br>
                                        <sup>O contato não pode ficar em branco</sup>
                                    }
                                </td>
                                <td>
                                    <select formControlName="tipo">
                                        <option value="">--- Selecione ---</option>
                                        <option value="telefone">Telefone</option>
                                        <option value="e-mail">E-mail</option>
                                    </select>
                                    @if (contato.get('tipo')?.touched && contato.get('tipo')?.hasError('required')) {
                                        <br>
                                        <sup>O tipo do contato não pode ficar em branco</sup>
                                    }
                                </td>
                                <td>
                                    <input type="text" formControlName="tag">
                                </td>
                                <td>
                                    <input type="hidden" formControlName="id">
                                    <button (click)="removerContato($event, idx)">Excluir</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
        </fieldset>

        <br>

        <fieldset>
            <legend>Adicionar Endereço</legend>

            <app-cadastro-endereco (enderecoAdicionado)="adicionarEndereco($event)"></app-cadastro-endereco>

            <br><br>

            <fieldset>
                <legend>Endereços (Cliente)</legend>

                <table>
                    <thead>
                        <tr>
                            <th>Logradouro</th>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>Complemento</th>
                            <th>Tag</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Avenida Rio de Janeiro, Nº227</td>
                            <td>Curitiba - PR</td>
                            <td>Jardim Botânico</td>
                            <td>Casa</td>
                            <td>#curitibaregiao #capital</td>
                            <td>
                                <button>Alterar</button>
                                &nbsp;
                                <button>Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </fieldset>

        <br>

        <button type="submit">Adicionar Cliente</button>
    </form>
</fieldset>