<form class="row g-3" [formGroup]="contatoForm" (submit)="adicionarContato($event)">
  <div class="col-12">
    <label for="validationValue" class="form-label">
      Contato <b title="Obrigatório" class="required">*</b>
    </label>

    <input type="text" class="form-control"
      [class.is-invalid]="contatoForm.get('valor')?.touched && contatoForm.get('valor')?.hasError('required')"
      id="validationValue" formControlName="valor"
    />

    @if (contatoForm.get('valor')?.touched && contatoForm.get('valor')?.hasError('required')) {
      <div class="invalid-feedback">
        O contato não pode ficar em branco
      </div>
    }
  </div>
  <div class="col-12">
    <label for="validationType" class="form-label">
      Tipo <b title="Obrigatório" class="required">*</b>
    </label>

    <select class="form-control"
      [class.is-invalid]="contatoForm.get('tipo')?.touched && contatoForm.get('tipo')?.hasError('required')"
      id="validationType" formControlName="tipo"
    >
      <option value="">--- Selecione ---</option>
      <option value="telefone">Telefone</option>
      <option value="e-mail">E-mail</option>
    </select>

    @if (contatoForm.get('tipo')?.touched && contatoForm.get('tipo')?.hasError('required')) {
      <div class="invalid-feedback">
        O tipo do contato não pode ficar em branco
      </div>
    }
  </div>
  <div class="col-12">
    <label for="validationTagContact" class="form-label">
      Tag
    </label>

    <input type="text" class="form-control" [class.is-invalid]="" id="validationTagContact" formControlName="tag" />
  </div>
  <div class="col-12">
    <input type="hidden" formControlName="id">
    <button class="btn btn-primary" type="submit">
      {{ this.contato ? 'Atualizar' : 'Adicionar' }} Contato
    </button>
  </div>
</form>