<h3>Minha Conta</h3>

<form [formGroup]="atualizacaoForm" (submit)="atualizaCadastro($event)">
  Nome: <b title="Obrigatório" class="required">*</b><br>
  <input type="text" formControlName="nome">

  @if (atualizacaoForm.get('nome')?.touched && atualizacaoForm.get('nome')?.hasError('required')) {
    <br>
    <sup>O nome não pode ficar em branco</sup>
  }

  <br><br>
  Senha: <b title="Obrigatório" class="required">*</b><br>
  <input type="password" formControlName="password">

  @if (atualizacaoForm.get('password')?.touched && atualizacaoForm.get('password')?.hasError('required')) {
    <br>
    <sup>A senha não pode ficar em branco</sup>
  }

  <br><br>
  CPF: <br>
  <input type="text" formControlName="cpf" maxlength="14">

  <br><br>
  Foto: <br>
  <input type="file" (change)="onImagePicked($event)" accept="image/*" #fotoUsuario>

  <br><br>
  <button type="submit" [disabled]="btnDisabled">Atualizar</button>
</form>