<h3>Minha Conta</h3>

<form class="row g-3 pt-3" [formGroup]="atualizacaoForm" (submit)="atualizaCadastro($event)">
  <div class="col-12">
    <label for="validationName" class="form-label">
      Nome <b title="Obrigatório" class="required">*</b>
    </label>

    <input type="text" class="form-control shadow-sm"
      [class.is-invalid]="atualizacaoForm.get('nome')?.touched && atualizacaoForm.get('nome')?.hasError('required')"
      id="validationName" formControlName="nome"
    />

    @if (atualizacaoForm.get('nome')?.touched && atualizacaoForm.get('nome')?.hasError('required')) {
      <div class="invalid-feedback">
        O nome não pode ficar em branco
      </div>
    }
  </div>

  <div class="col-12">
    <label for="validationPassword" class="form-label">
      Senha
    </label>

    <input type="password" class="form-control shadow-sm"
      id="validationPassword" formControlName="password"
    />
  </div>

  <div class="col-12">
    <label for="validationCpf" class="form-label">
      CPF
    </label>

    <input type="text" class="form-control shadow-sm"
      id="validationCpf" formControlName="cpf" maxlength="14"
    />
  </div>

  <div class="col-12">
    <label for="validationImage" class="form-label">
      Foto
    </label>

    <input type="file" class="form-control shadow-sm"
      id="validationImage" (change)="onImagePicked($event)" accept="image/*" #fotoUsuario
    />
  </div>

  <div class="col-12">
    <button class="btn btn-primary shadow" type="submit" [disabled]="btnDisabled">
      Atualizar
    </button>
  </div>
</form>