<h3>Pets</h3>

@if (isLoading) {
  <b>Carregando ...</b>
}

@if (pets.length > 0 && !isLoading) {
  <div class="grid-list">
    @for (pet of pets; track $index) {
      <fieldset>
        <legend>
          <img [src]="pet.foto ?? 'assets/img/dog.jpg'" alt="imagem">
        </legend>

        {{ pet.nome }}
        <hr>

        <b>Raça:</b> {{ formatarRacas(pet.raca) }} <br>
        <b>Cliente: </b> {{ pet.cliente.nome }}
        <hr>

        <button [disabled]="usuarioLogado?.perfil === 'CLIENTE' && pet.cliente.id !== usuarioLogado?.id" (click)="editarPet(pet)">Editar</button>
        <button [disabled]="usuarioLogado?.perfil === 'CLIENTE'" (click)="excluirPet(pet)">Excluir</button>
      </fieldset>
    }
  </div>

  <div class="pagination">
    <button>Anterior</button>
    <button>Próximo</button>
  </div>
}

<app-modal [(openModal)]="openModalAtualizarPet">
  <app-cadastro-pet [pet]="petSelecionadoEdicao" [racas]="racas" (petAdicionado)="petAdicionado($event)"></app-cadastro-pet>
</app-modal>