<h3>Pets</h3>

@if (isLoading) {
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Carregando ...</span>
  </div>
}

@if (pets.length > 0 && !isLoading) {
  <div class="grid-list mt-4">
    @for (pet of pets; track $index) {
      <fieldset class="shadow">
        <legend>
          <img class="shadow" [src]="pet.foto ?? 'assets/img/dog.jpg'" alt="imagem">
        </legend>

        {{ pet.nome }}

        <div class="btn-group mt-3" role="group">
          <button class="btn btn-primary shadow" [disabled]="usuarioLogado?.perfil === 'CLIENTE' && pet.cliente.id !== usuarioLogado?.id" (click)="editarPet(pet)">Editar</button>
          <button class="btn btn-danger shadow" [disabled]="usuarioLogado?.perfil === 'CLIENTE'" (click)="excluirPet(pet)">Excluir</button>
        </div>
      </fieldset>
    }
  </div>

  <div class="pagination">
    <div class="btn-group" role="group">
      <button class="btn">Anterior</button>
      <button class="btn">Próximo</button>
    </div>
  </div>
}

<app-modal [(openModal)]="openModalAtualizarPet">
  <app-cadastro-pet [pet]="petSelecionadoEdicao" [racas]="racas" (petAdicionado)="petAdicionado($event)"></app-cadastro-pet>
</app-modal>